<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <processors>
    <uiUpload>
      <processor mode="on" type="Namics.Opensource.SitecoreImageAnalyzer.Processor.Pipelines.AnalyzeImage.SetAltInformations, Namics.Opensource.SitecoreImageAnalyzer.Processor" patch:after="processor[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']" />
    </uiUpload>
  </processors>

  <settings>
    <!-- 
      A string indicating which language to return. The service will return recognition results in specified language. If this parameter is not specified, the default value is "en".
      Supported languages:
          en - English, Default.
          zh - Simplified Chinese.
    
      See https://dev.projectoxford.ai/docs/services/56f91f2d778daf23d8ec6739/operations/56f91f2e778daf14a499e1fa for more informations
    -->
    <setting name="Namics.OpenSource.SitecoreImageAnalyzer.Language" value ="en" />

    <!-- Subscription Service Endpoint which provides access to this API. Found in your Cognitive Services accounts. -->
    <setting name="Namics.OpenSource.SitecoreImageAnalyzer.ApiEndpoint" value ="https://westus.api.cognitive.microsoft.com/vision/v1.0/analyze" />
    <!--
      A string indicating what visual feature types to return. Multiple values should be comma-separated. 
      Valid visual feature types include: 

      Categories - categorizes image content according to a taxonomy defined in documentation.
      Tags - tags the image with a detailed list of words related to the image content.
      Description - describes the image content with a complete English sentence.
      Faces - detects if faces are present. If present, generate coordinates, gender and age.
      ImageType - detects if image is clipart or a line drawing.
      Color - determines the accent color, dominant color, and whether an image is black&white.
      Adult - detects if the image is pornographic in nature (depicts nudity or a sex act). Sexually suggestive content is also detected.
      
      See https://dev.projectoxford.ai/docs/services/56f91f2d778daf23d8ec6739/operations/56f91f2e778daf14a499e1fa for more informations
    -->
    <setting name="Namics.OpenSource.SitecoreImageAnalyzer.VisualFeatures" value ="Description" />

    <!-- Subscription key name. See https://dev.projectoxford.ai/docs/services/56f91f2d778daf23d8ec6739/operations/56f91f2e778daf14a499e1fa for more informations -->
    <setting name="Namics.OpenSource.SitecoreImageAnalyzer.SubscriptionKeyHeader" value ="Ocp-Apim-Subscription-Key" />
    
    <!-- Subscription key which provides access to this API. Found in your Cognitive Services accounts. -->
    <setting name="Namics.OpenSource.SitecoreImageAnalyzer.SubscriptionKey" value ="{AddYourKeyHere}" />

  </settings>
</configuration>